



/* Css */




/* Header */

header {
   padding: var(--XL-spacer) var(--page-margin) var(--S-spacer) var(--page-margin);

   width: 100%;
}

header h1 {
   padding-bottom: var(--S-spacer);
}


header figure {
   overflow: hidden;

   padding-bottom: var(--S-spacer);

   border-radius: var(--border-radius);
}

header figure img {
   width: 100%;
   height: 100%;

   object-fit: cover;
   object-position: center;
}

header video {
   padding-bottom: var(--S-spacer);

   grid-column: 1 / span 4;

   max-width: 100%;
}


header .meta {
   padding-bottom: var(--S-spacer);

   display: flex;

   flex-direction: row;   

   justify-content: space-between;
}

header .meta p {
   font-family: var(--body-font);
   font-size: var(--body-font-size);
}

header .meta span {
   display: flex;
   
   flex-direction: row;

   justify-content: center;

   gap: var(--M-spacer);
}


header .summary {
   display: grid;
}

header .summary p {
   font-family: var(--body-font);
   font-size: var(--body-font-size);
}


header .summary-new {
   display: grid;
}

header .summary-new > p:first-of-type {
   font-size: 2rem;
}

header .summary-new article {
   display: flex;
   flex-direction: column;
}

header .summary-new h3 {
   opacity: 0.6;
   padding-top: var(--S-spacer);
   font-size: var(--body-font-size);
}

header .summary-new p {
   font-family: var(--body-font);
   font-size: var(--body-font-size);
}

header .dirty-fix {
   display: flex;
   flex-direction: column;

   width: 100%;
   height: auto;
}



/* Main */

main {
   padding: 0 var(--page-margin) var(--XL-spacer) var(--page-margin);
}


/* Algemeen */

main section figure {
   overflow: hidden;

   display: flex;
   flex-direction: column;
}

main section figure img {
   width: 100%;
   height: 100%;

   object-fit: cover;
   object-position: center;

   border-radius: var(--border-radius);
}

main section figure figcaption {
   padding-top: var(--XS-spacer);
}

main section figure figcaption p {
   font-family: var(--body-font);
   font-size: var(--font-size);
}



/* Specifiek */

main .credits{
   grid-column: 1 / span 4;
}

main .credits p {
   font-family: var(--body-font);
   font-size: var(--body-font-size);

   color: var(--secondary-text-color);
}

main .embed {
   display: grid;

   grid-template-columns: repeat(4, 1fr);
}

main .embed figure {
   padding-bottom: var(--S-spacer);

   grid-column: 1 / span 4;

   width: auto;
   height: 50vh;
}

main .embed figure iframe {
   width: auto;
   height: 100%;
}



main .full-width {
   padding-bottom: var(--S-spacer);

   display: grid;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 1rem;
}

main .full-width figure {
   grid-column: 1 / span 4;
}





main .quarter-width {
   padding-bottom: var(--S-spacer);

   display: grid;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 1rem;
   grid-row-gap: var(--XS-spacer);
}

main .quarter-width figure {
   grid-column: span 2;
}





main .half-width {
   padding-bottom: var(--S-spacer);

   display: grid;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 1rem;
   grid-row-gap: var(--XS-spacer);
}

main .half-width figure {
   grid-column: span 2;
}

main .half-width-right {
   padding-bottom: var(--S-spacer);

   display: grid;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 1rem;
   grid-row-gap: var(--XS-spacer);
}

main .half-width-right figure {
   grid-column: 1 / span 4;
}


main .three-quarters-width-left {
   padding-bottom: var(--S-spacer);

   display: grid;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 1rem;
   grid-row-gap: var(--XS-spacer);
}

main .three-quarters-width-left figure {
   grid-column: 1 / span 4;
}


main .three-quarters-width-right {
   padding-bottom: var(--S-spacer);

   display: grid;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 1rem;
   grid-row-gap: var(--XS-spacer);
}

main .three-quarters-width-right figure {
   grid-column: 1 / span 4;
}

main .one-third-width {
   padding-bottom: var(--S-spacer);

   display: grid;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 1rem;
   grid-row-gap: var(--XS-spacer);

}

main .one-third-width figure {
   grid-column: 1 / span 4;
}






.navigation {
   padding-top: var(--L-spacer);

   width: 100%;
}

.navigation ul {
   display: flex;
   flex-direction: row;

   justify-content: space-between;
   align-items: center;
}

.navigation ul li a {
   font-family: var(--body-font);
   font-size: clamp(4rem, 8vw, 18rem);
}





















/* Groter dan Mobiel */
@media screen and (min-width: 688px) {
   /* body {
      background-color: green;
   } */

   .dirty-fix {
      gap: 2rem;
      grid-column: span 8;
   }

   .dirty-fix figure {
      height: 100%;
   }

   .dirty-fix figure video {
      height: 100%;
   }
}








/* Groter dan Tablet */
@media screen and (min-width: 992px) {

   header {
      padding: var(--XL-spacer) var(--page-margin) var(--S-spacer) var(--page-margin);
   
      display: grid;

      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;

      width: 100%;
   }
   
   header h1 {
      padding-bottom: var(--S-spacer);

      grid-column: 1 / span 12;
   }
   
   
   header figure {
      overflow: hidden;
   
      padding-bottom: var(--S-spacer);
   
      grid-column: 1 / span 8;

      border-radius: var(--border-radius);
   }


   header .video-container {
      padding-bottom: var(--S-spacer);
      grid-column: span 12;
   }

   header .dirty-fix {
      display: flex;
      flex-direction: row;

      gap: 2rem;
      grid-column: span 8;
   }

   .dirty-fix figure {
      height: 100%;
   }

   .dirty-fix figure video {
      height: 100%;
   }

   header .video-container video {
      grid-column: span 12;
   }


   header .meta {
      grid-column: 1 / span 8;
   }

   header .summary {
      grid-column: 1 / span 5;
   }
   
   header .summary-new {
      padding: var(--M-spacer) 0;
      grid-column: 1 / span 12;
   }

   header .summary-new > p:first-of-type {
      grid-column: 1 / span 10;
      font-size: clamp(2rem, 2vw, 4rem);
   }

   header .summary-new article {
      padding-top: var(--M-spacer);
      grid-column: 8 / span 8;
   }
   
   header .summary-new h3 {
      padding-top: var(--S-spacer);
      font-size: var(--body-font-size);
   }


   main .credits{
      grid-column: span 5;
   }
   
   main .credits p {
      font-family: var(--body-font);
      font-size: var(--body-font-size);
   
      color: var(--secondary-text-color);
   }


   main .embed {
      display: grid;
   
      grid-template-columns: repeat(12, 1fr);
   }
   
   main .embed figure {
      padding-bottom: var(--S-spacer);
   
      grid-column: 1 / span 12;
   
      width: auto;
      height: 100vh;
   }
   
   main .embed figure iframe {
      width: auto;
      height: 100%;
   }
   



   main .full-width {
      padding-bottom: var(--S-spacer);

      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;
   }
   
   main .full-width figure {
      grid-column: 1 / span 12;
   }

   main .quarter-width {
      padding-bottom: var(--S-spacer);
   
      display: grid;
   
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: var(--XS-spacer);

   }
   
   main .quarter-width figure {
      grid-column: span 4;
   }

   main .quarter-width figure:first-child {
      grid-column: 5 / 9 ;
   }
   
   
   main .half-width {
      padding-bottom: var(--S-spacer);
   
      display: grid;
   
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: var(--XS-spacer);
   }
   
   main .half-width figure {
      grid-column: span 6;
   }



   main .half-width-right {
      padding-bottom: var(--S-spacer);

      display: grid;

      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: var(--XS-spacer);
   }

   main .half-width-right figure {
      grid-column: 7 / span 6;
   }
   
   
   main .three-quarters-width-left {
      padding-bottom: var(--S-spacer);
   
      display: grid;
   
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: var(--XS-spacer);
   }
   
   main .three-quarters-width-left figure {
      grid-column: 1 / span 8;
   }

      
   main .three-quarters-width-right {
      padding-bottom: var(--S-spacer);
   
      display: grid;
   
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: var(--XS-spacer);
   }
   
   main .three-quarters-width-right figure {
      grid-column: 6 / span 8;
   }

   main .one-third-width {
      padding-bottom: var(--S-spacer);
   
      display: grid;
   
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: var(--XS-spacer);
   
   }
   
   main .one-third-width figure {
      grid-column: span 4;
   }
}








/* Groter dan Desktop */
@media screen and (min-width: 1312px) {
   /* body {
      background-color: red;
   } */
}